
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("galerija/stablo.JPG");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: 100% 100%;
 background-repeat: no-repeat;
}
#nazad1{
  position:absolute;
  width: 20%;
  left:70%;
  bottom: 10%;

  background-color: hsla(207, 76%, 84%, 0.5);
color: rgb(3, 3, 3);
padding:15px;
border-radius:  25px;
text-align: center;
font-size: 2vw;

}
#nazad1:hover{
  background-color: hsla(207, 76%, 84%, 0.9);;
  cursor: pointer;
}
